.wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.arrowIcon {
  opacity: 0.3;
}

.navItem {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #000000;
  opacity: 0.3;
}